<h1>Seja Bem-Vindo!</h1>

<ul>
    <li>
        <%= link_to "Cadastro de Moedas", coins_path %>
    </li>
</ul>

<p><%= name_application %> </p>

<p>Derek Barragão</p>

<p> A soma é: <%= 1 + 1 %> </p>
<p> Seu nome de tras pra frente é: <%= "derek".reverse %> </p>

<% ax = "wooow" %>
<p>minha variavel ax é: <%= ax %></p>

<p>A data de hoje é: <%= date_br(Date.today) %></p>

<%#= esse é um comentario %>

<p>
    voce esta em ambiente de <%= Rails.env %>
</p>

<p>
    nome do ambiente utilizando helper <%= ambiente_rails %>
</p>

<p>Eu sou uma variavevl de instancia/sessão recebida na url: <%=@meu_nome%></p>
<p> Meu curso é um curso de: <%= @curso %> </p>


